.container-meu-contato {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
}

.container-meus-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--DarkBlue4);
    border-radius: 30px;
    padding: 10px;
}

.titulo-meus-contatos {
    font-size: 5rem;
    margin-bottom: 10px;
    color: var(--DarkBlue4);
}

.email-meus-contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: var(--DarkBlue4);
    color: var(--branco);
    padding: 10px;
    border-radius: 10px;
}

.span-meus-contatos {
    font-weight: bold;
}

.lista-meus-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--DarkBlue4);
    /* width: 400px; */
}

.lista-meus-contatos li {
    display: flex;
    margin: 5px 0;
    font-size: 3rem;
}

.meus-contatos {
    padding: 10px 15px;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.meus-contatos:hover {
    box-shadow: 0px 0px 15px #000000a2;
}

.meus-contatos.linkedin:hover {
    color: var(--branco);
    background-color: var(--azul);
}

.meus-contatos.github:hover {
    background-color: var(--preto);
    color: var(--branco)
}

.meus-contatos.instagram:hover {
    background-image: linear-gradient(var(--rosa), var(--vermelho), var(--amarelho));
    color: var(--branco);
}

.meus-contatos.site:hover {
    color: var(--branco);
    background-color: var(--preto);
}

/* TELA 320PX ATÉ 480PX */
@media (max-width: 480px){
    .titulo-meus-contatos {
        font-size: 3rem;
    }

    .email-meus-contatos {
        font-size: 1.3rem;
        width: 100%;
    }

    .lista-meus-contatos {
        width: 100%;
    }

    .meus-contatos {
        font-size: 2rem;
    }

    .container-meus-contatos {
        width: 90%;
    }

    .container-meu-contato {
        height: calc(100vh - 110px);
    }
}