.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 115px);
    gap: 50px;
}

.texto-objetivo {
    padding: 25px;
}

.texto-objetivo p {
    color: var(--branco);
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.8rem;
    width: 500px;
}

.texto-objetivo p span,
.texto-objetivo p strong {
    color: var(--Cyan);
}

.div-foto-minha-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-minha-fundo {
    background: url(../../assets/img/foto-minha/foto-fundo.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 500px;
}

/* TELA 320PX */
@media (max-width: 480px){
    .section {
        flex-direction: column;
        height: 100%;
        gap: 0px;
    }

    .texto-objetivo {
        padding: 20px;
    }

    .texto-objetivo p {
        width: 100%;
        text-align: justify;
        font-size: 1.6rem;
        margin-bottom: 0px;
    }

    .div-foto-minha-fundo {
        width: 320px;
        height: 320px;
    }

    .foto-minha-fundo {
        width: 100%;
        height: 100%;
    }
}

/* TELA 480PX */
