.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #343432bf;
    visibility: hidden;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}

.conteudo-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fechar-modal {
    text-align: center;
    font-weight: bold;
    font-size: 1.9rem;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--branco);
}

.fechar-modal:hover {
    color: var(--branco);
    background-color: var(--Cyan);
}

.tela {
    width: 90vw;
    height: 80vh;
    background-color: #fff;
}