.anthem-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/anthem.jpg) no-repeat center center #000;
    background-size: cover;
}

.apex-legends-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/apex-legends.jpg) no-repeat center center #000;
    background-size: cover;
}

.destiny-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/destiny.jpg) no-repeat center center #000;
    background-size: cover;
}

.elite-dangerous-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/elite-dangerous.jpg) no-repeat center center #000;
    background-size: cover;
}

.god-of-war-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/god-of-war.png) no-repeat center center #000;
    background-size: cover;

}

.grand-chase-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/grand-chase.jpg) no-repeat center center #000;
    background-size: cover;
}

.lunia-z-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/lunia-z.jpg) no-repeat center center #000;
    background-size: cover;
}

.minecraft-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/minecraft.jpg) no-repeat center center #000;
    background-size: cover;
}

.path-of-exile-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/path-of-exile.jpg) no-repeat center center #000;
    background-size: cover;
}

.runescape-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/runescape.jpg) no-repeat top center #000;
    background-size: cover;
}

.speed-racer-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/speed-racer.jpg) no-repeat center center #fff;
    background-size: cover;
}

.star-craft-2-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/starcraft-2.jpg) no-repeat center center #fff;
    background-size: cover;
}

.the-last-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/the-last-of-us.jpg) no-repeat center center #000;
    background-size: cover;
}

.titan-fall-2-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/titanfall-2.jpg) no-repeat top center #fff;
    background-size: cover;
}

.uncharted-pc {
    background: url(../../../assets/img/fotos-jogos-modal-pc/uncharted.jpg) no-repeat center center #000;
    background-size: cover;
}